CREATE DATABASE QlTourDB
GO
USE [QlTourDB]
GO
/****** Object:  Table [dbo].[DiaDiem]    Script Date: 05/11/2025 8:28:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDiem](
	[MDD] [int] IDENTITY(1,1) NOT NULL,
	[TenDiaDiem] [nvarchar](30) NULL,
 CONSTRAINT [PK_DiaDiem] PRIMARY KEY CLUSTERED 
(
	[MDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tour]    Script Date: 05/11/2022 8:28:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[MaTour] [int] IDENTITY(1,1) NOT NULL,
	[TenTour] [nvarchar](50) NULL,
	[ChuongTrinh] [ntext] NULL,
	[Songay] [smallint] NULL,
	[Dongia] [int] NULL,
	[MDD] [int] NULL,
	[Hinh] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DiaDiem] ON 

INSERT [dbo].[DiaDiem] ([MDD], [TenDiaDiem]) VALUES (1, N'Miền Trung')
INSERT [dbo].[DiaDiem] ([MDD], [TenDiaDiem]) VALUES (2, N'Miền Bắc')
INSERT [dbo].[DiaDiem] ([MDD], [TenDiaDiem]) VALUES (3, N'Miền Tây')
SET IDENTITY_INSERT [dbo].[DiaDiem] OFF
SET IDENTITY_INSERT [dbo].[Tour] ON 

INSERT [dbo].[Tour] ([MaTour], [TenTour], [ChuongTrinh], [Songay], [Dongia], [MDD], [Hinh]) VALUES (1, N'Đà Nẵng-Hội An-Huế', N'Chưa có chương trình', 4, 2999000, 1, N'DN_01.jpg')
INSERT [dbo].[Tour] ([MaTour], [TenTour], [ChuongTrinh], [Songay], [Dongia], [MDD], [Hinh]) VALUES (2, N'Đà Nẵng-Huế-Phong Nha', N'Chưa có chương trình', 3, 3100000, 1, N'DN_02.jpg')
INSERT [dbo].[Tour] ([MaTour], [TenTour], [ChuongTrinh], [Songay], [Dongia], [MDD], [Hinh]) VALUES (3, N'Đà Nẵng-Hội An-Huế-Phong Nha', N'Chưa có chương trình', 5, 3600000, 1, N'DN_03.jpg')
SET IDENTITY_INSERT [dbo].[Tour] OFF
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_DiaDiem] FOREIGN KEY([MDD])
REFERENCES [dbo].[DiaDiem] ([MDD])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_DiaDiem]
GO
